@charset "utf-8";

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 5vh;

    font-size: 50px;
    text-align: center;
    background-color: lightgray;
    padding: 0px;
}

footer div {
    width: auto;
    padding: 0px;
}

footer div p {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}